.ex-container .modal-content {
  height: 80%;
  max-height: 80%;
  overflow-y: auto;

  /* 스크롤바 숨기기 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.ex-container .modal-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.exercise-container h2 {
  margin: 0px;
}
