.home-container {
  width: 100%;
  height: 100vh;
  text-align: center;

  /* 세로 스크롤 */
  overflow-y: scroll;
  scroll-snap-type: y mandatory; /* (선택) 스크롤 스냅 */
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
.home-container::-webkit-scrollbar {
  display: none;
}

.home-container section {
  height: 100%;
  width: 100%;
  display: flex; /* 가운데 정렬 보조 */
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  scroll-snap-align: start; /* (선택) 화면 스냅 효과 */
  z-index: 0;
}
.home-container section:not(:first-child) {
  padding-top: 10vh;
}

.home-container h1 {
  font-size: 28px;
  margin-bottom: 10px;
}
.home-container p {
  font-size: 16px;
  opacity: 0.85;
}

.image-container {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/* 첫 섹션의 이미지 */
.image-container img {
  width: 100%;
  /* height: 100%; */
  object-fit: contain;
  object-position: top;
  filter: brightness(70%); /* 다크 UI에 맞게 살짝 어둡게 */
}
.image-container p {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.image-container button {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%); /* 정확한 중앙 보정 */
  z-index: 10; /* 이미지 위에 보이도록 */
}

.image-container::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    /* 완전 투명 → 시작 */ #0d0d0d 100% /* 너의 사이트 배경색 */
  );
  pointer-events: none;
}
.use-card div {
  padding: 10px;
  background-color: #333333;
}
/* 출석 */
.floating-calendar-btn {
  position: fixed;
  bottom: 40px;
  right: 20px;
  background: #2d2d2d;
  color: white;
  font-size: 28px;
  padding: 12px 14px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: background 0.2s;
  z-index: 80;
}

/* .floating-calendar-btn:hover {
  background: #444;
} */

/* .calendar-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
} */

/* .calendar-modal {
  background: white;
  width: 300px;
  padding: 20px;
  border-radius: 14px;
  text-align: center;
}

.close-btn {
  margin-top: 20px;
  padding: 6px 20px;
  border: none;
  background: #22c55e;
  color: white;
  border-radius: 8px;
  cursor: pointer;
} */
