.image-container {
  position: relative;
  width: 100%;
  height: 65vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.image-container img {
  width: 100%;
  /* height: 100%; */
  object-fit: contain;
  object-position: top;
  filter: brightness(70%); /* 다크 UI에 맞게 살짝 어둡게 */
}
.image-container p {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.image-container button {
  position: absolute;
  top: 50%; /* 세로 중앙 */
  left: 50%; /* 가로 중앙 */
  transform: translate(-50%, -50%); /* 정확한 중앙 보정 */
  z-index: 10; /* 이미지 위에 보이도록 */
}
