.meal-grid {
  margin: 40px 100px;
  display: flex; /* 가로 배열 */
  gap: 20px; /* 카드 사이 간격 */
  justify-content: space-between; /* 양 끝 정렬 */
  flex-wrap: wrap; /* 화면 작아지면 줄바꿈 */
}

.meal-grid > .card {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meal-icon {
  font-size: 38px;
  text-align: center;
  margin-bottom: 5px;
}
