/* 전체 그리드 */
.meal-grid {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
}

/* 공통 카드 */
.meal-card {
  border-radius: 20px;
  padding: 10px 25px;
  min-height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.09);
  transition: 0.25s ease;
}

.meal-card:hover {
  transform: translateY(-4px);
}

/* 카드별 컬러 포인트 */
.meal-ai {
  background: #e7e7ec;
}
.meal-goal {
  background: #e7e7ec;
}
.meal-food {
  background: #e7e7ec;
}
.meal-auth {
  background: #e7e7ec;
}

/* 아이콘 */
.meal-icon {
  font-size: 38px;
  text-align: center;
  margin-bottom: 5px;
}

/* 제목 */
.meal-card h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 700;
}
.meal-card h3 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
  color: #ff0000;
}

/* 중앙 컨텐츠 */
.meal-center {
  text-align: center;
}

/* 미리보기 이미지 */
.meal-preview-box {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.meal-preview-box img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  object-fit: cover;
}

/* 버튼 */
.meal-btn {
  width: 200px;
  padding: 11px;
  margin: 0 auto;
  border: none;
  background: #1a1a1a;
  color: white;
  border-radius: 10px;
  font-weight: 600;
}

.meal-btn.small {
  width: 220px;
}

.meal-btn:hover {
  background: #333;
}

/* 목표 버튼 */
.meal-goal-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.meal-goal-buttons button {
  padding: 8px 14px;
  border-radius: 10px;
  border: none;
  background: #fff;
  font-weight: 600;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.meal-goal-buttons button:hover {
  background: #f0f0f0;
}

/* 추천 식품 태그 */
.meal-tag-list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.meal-tag-list span {
  padding: 8px 14px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  font-weight: 600;
}

/* 반응형 */
@media (max-width: 900px) {
  .meal-grid {
    grid-template-columns: 1fr;
  }
}
