.qna-container {
  padding: 20px;
}
.qna-container .card:hover {
  transform: none !important;
  background: white !important;
  cursor: default !important;
}
.qna-container table td:nth-child(3) > div {
  width: 120px;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.qna-container .card input {
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.qna-container .card input::placeholder {
  color: #999; /* 연한 회색 (가장 많이 씀) */
  text-align: left;
}
.qna-container .card input:focus {
  border: 2px solid #000;
}
